body {
  background-color: #0AF !important;
}

nav {
  background-color: #0AF !important;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.75);
}

a.nav-link {}

.footer {
  width: 100%;
  background-color: #0AF;
  padding: 1em;
  display: table;
}

.footer>div {
  display: table-cell;
  vertical-align: middle;
}

.no-bullets li {
  list-style: none;
  margin-bottom: 0;
}

table.parish-mens-groups td p:last-child {
  margin-bottom: 0;
}

.content-wrapper {
  background-color: white;
  width: 100%;
}

.content-inner {
  margin: 0 auto;
  max-width: 55em;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 1em;
  background-color: white;
}

a.social-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.social-container, .social-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.social-svg {
  border-radius: 50%;
  fill-rule: evenodd;
}

g.social-svg-icon, g.social-svg-background {
  -ms-transition: fill 170ms ease-in-out;
  -o-transition: fill 170ms ease-in-out;
  -moz-transition: fill 170ms ease-in-out;
  -webkit-transition: fill 170ms ease-in-out;
  transition: fill 170ms ease-in-out;
  fill: transparent
}

.email .social-svg-mask {
  fill: rgb(127, 127, 127)
}

.twitter .social-svg-mask {
  fill: #00aced;
}

.linkedin .social-svg-mask {
  fill: #007fb1;
}

.facebook .social-svg-mask {
  fill: #3b5998;
}

footer .social-footer .social-svg-mask {
  fill:rgba(0, 0, 0, 0.75);
}

table.agenda {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.agenda td.time {
  font-weight: bold;
  padding: 0;
  font-variant-numeric: tabular-nums;
}

.agenda td.time.end {
  text-align: right;
}

.agenda td.time.end:after {
  content: ":";
}

.agenda td.time.dash {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.agenda td.time {
  font-weight: bold;
}

.agenda td {
  vertical-align: text-top;
}


.agenda td.text p:last-of-type {
  margin-bottom: 0;
}

.buttons {
  text-align: center;
}